body, html, #app{
  height: 100%;
}

.containerCal{
  width: 100%;
  height: 90%;
  background-color: #FFE5EA;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-content: center;


  h1{
    font-family: ClearSansThin;
    color: #FFFFFF;
    font-size: 64px;
    text-shadow: 3px 3px 6px #d2cfcf;
    margin: 0;
  }

  p{
    font-family: Montserrat;
    font-size: 25px;
    color: #C4C4C4;
  }

  .habits{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    .singleHabit{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    p{
      padding: 10px;
      background-color: #FFFFFF;
      border-radius: 10px;
      letter-spacing: 5px;
    }

    .days{

      .checkBox{
        height: 50px;
        width: 65px;
      }
    }
  }
}
