@font-face {
  font-family: Montserrat;
  src: url(Montserrat-VariableFont_wght.ttf);
}

.headers{
  background-color:#C4C4C4;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button{
    background-color: #858585;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Montserrat;
    margin-right: 30px;
    padding: 7px 7px;
    border: none;
    border-radius: 10px;
  }
}